.header {
    background-color: var(--white);
    padding: 25px 0 35px;
}
.header__title {
    font-family: "inter", sans-serif;    
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black);
}