.header {
    background-color: var(--white);
}
.header__title {
    font-family: "inter", sans-serif;
    padding: 95px 0 80px;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black);
}