.accordion {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    width: 730px;
    padding: 24px 48px 32px 32px;
    box-sizing: border-box;

}
.accordion__item {
    display: block;
    position: relative;
    color: var(--black);

}
.accordion__item::webkit-details-marker {
    display: none;
}
.accordion__item .marker {
    display: inline-block;
    position: relative; 
}
.accordion[open] .marker {
    transform: rotate(225deg);
    top: calc(50% - 8px/2 );
}
.accordion__description {
    color: var(--grey-4);
}

