.skeleton {
    display: flex;
    flex-flow: column wrap;

    width: 580px;
    border: var(--grey-3) 1px solid;
    border-radius: 8px;

    padding: 24px 40px 32px 24px;
    box-sizing: border-box;
}
.skeleton__header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 24px;
}
.skeleton__avator {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: var(--grey-2);
    margin-right: 16px;
}
.skeleton__lines {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 2;
    min-height: 64px;
}

.skeleton__line {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
    width: 100%;
}
.skeleton__line_short {
     width: 172px; 
}
.skeleton__line_middle {
     width: 257px; 
}